.social-login
    button
        span.social-Login__github
            i.fab.fa-github
        span Continue with Github
    button.social-login__facebook
        span
            i.fab.fa-facebook
        span Continue with Facebook