//- extends layouts/main.pug
extends layouts/main

block content
    .form-container
        form(action=routes.login, method="post")
            input(type="password",name="currntPassword",placeholder="current password")
            input(type="password",name="newPassword",placeholder="new password")
            input(type="password",name="verifiedPassword",placeholder="verified password")
            input(type="submit",value="Join Now")
        
            