//- extends layouts/main.pug
extends layouts/main

block content
    .form-container
        form(action= `/video${routes.editVideo}`,method="post")
            input(type="text",placeholder="Title",neme="title",value=video.title) 
                //-video.title을 쓸수있는 이유는 우리가 videocontroller에서 쓸수있도록 해줬기 때문. 
            textarea(placeholder="Description",name="description")
            input(type="submit",value="Update Video")
        a.form-container__link(href=routes.users+routes.upload) Delete Video