//- extends layouts/main.pug
extends layouts/main
include mixins/videoBlock

//-We call it iteration (이터레이션) 반복 each - in
block content
    //- .videos
    //-     each video in videoData
    //-         h1=video.videoFiles
    .videos
        each video in videoData
            +videoBlock({
                id:video.id,
                title:video.title,
                views:video.views,
                videoFile:video.fileUrl,
                description:video.description
            })
            

        
