//- extends layouts/main.pug
extends layouts/main
include mixins/videoBlock

block content
    .search__header
        h3 Searching by #{searchingBy}
        
    .search__video
        if videoData.length === 0
            h5 No Video file
        each video in videoData
            +videoBlock({
                title:video.title,
                views:video.views,
                videoFile:video.fileUrl,
                description:video.description,
                id:video.id
            })
            

//- VideoData는 어디서 참고를 하는가..==>videocontroller video render..